@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: roboto;
  color: #29335C;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem;
  text-align: left;
  border: 2px solid black;
  border-radius: 8%;
  

}